* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(51, 51, 51);
}

a {
  text-decoration: none;
}

h1 {
  font-family: Georgia;
  font-size: 270%;
  color: white;
  font-weight: normal;
  margin-bottom: 15px;
}

header,
nav,
nav ul,
nav ul li,
nav ul li a,
section {
  display: flex;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

header {
  flex-direction: column;
  margin: 20px 0;

}

nav {
  justify-content: space-between;
  background-color: rgb(17, 17, 17);
  padding: 0 10px;
}

nav ul {
  list-style: none;
  justify-content: space-between;
}


nav li {
  align-items: center;
  font-size: 120%;
  color: white;

}

nav a {
  align-items: center;
  background-color: rgb(17, 17, 17);
  color: white;
  text-align: center;
  padding: 14px 20px;
}

nav a:hover {
  background-color: white;
  color: black;
  padding: 14px 20px;
}

main {
  color: #222;

  line-height: 1.6;

  background-color: white;

  box-sizing: border-box;
  margin: 0% 10%;
  padding: 50px;
}

main section {
  flex-direction: column;
  text-align: center;

}

main section .espec-intel {
  display: flex;

  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

}

main section#section-amd,
section#home {

  align-items: center;

}

main section .espec-intel img {
  max-width: 700px;
  max-height: 600px;
}

footer {
  padding: 2%;
  margin: 0 8%;
  color: white;
  font-size: large;
}

footer div.contato{
  margin: 15px 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}


footer div.contato a {
  color: #fff;
  display: flex;
  align-items: center;
}

#emailtitle {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  margin-bottom: 15px;
}

footer div.contato a:hover {
  text-decoration: underline;
}

.emails {
  display: flex;
  flex-flow: row nowrap;
}

.emails a {
  margin: 0 15px;
}

footer div.contato img {
    width: 30px;
    height: 30px;
}

footer h5 {font-size: 1.3em;}

.Ficha {
  line-height: 1.2;
}

img.amd,
.img-index {
  width: 90%;
  height: 90%;
  max-width: 700px;
  max-height: 600px;
}

.voltar {
  padding: 17px;
  font-size: 1.2em;
}

@media screen and (max-width: 800px) {

  nav,
  nav ul,
  nav a {
    flex-flow: column wrap;
    width: 100%;
    margin: 0;
  }

  nav ul li#liwithoutlink {
    display: none;
  }

  header {
    text-align: center;
  }

  main {
    padding: 0;
    margin: 0;
  }

  .emails {
    flex-flow: column wrap;
    align-items: center;
  }

  .emails a {
    padding: 7px;
  }

  .espec-intel {
    flex-flow: column wrap !important;
  }

  td, th {
    padding: 0 !important;
  }

}

iframe {
  width: 100%;
  height: 500px;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr#titulostabela {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #ff5050;
}

tr:nth-child(odd) {
  background-color: #0099ff;
}