 
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

fieldset {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

@media screen and (max-width: 800px) {

    section, form, main, body {
        background-color: white;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    fieldset {width: 90%; margin: auto;}

    input, textarea {
        padding: 15px 0;
        width: 70%;
        border-width: 2px;
        border-radius: 5px;
        border-style: solid;
        border-color: rgb(51, 51, 51);
    }

}

legend {
    margin: 0 auto;
}

main form .botao {
    padding: 20px;
    font-size: 1.2em;
}

main form .radioButton {

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}